server:
  port: 8080

spring:
  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      auto-offset-reset: latest
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"

  cassandra:
    contact-points: localhost
    port: 9042
    keyspace-name: whatsapp
    local-datacenter: datacenter1
    schema-action: NONE
